h1 {color: white; font-size: 32pt;} 
Body { background: navy; 
	     color:white;
	     font-size: 15pt;
	     font-family: 'poppins';
	   }
nav a {	display: inline-block;
        	border: 4px blue;
        	padding: 10px;
		margin: 8px;
		background: white;}